/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* ________ Transizioni ________________________________________________ */

/* ____ 2 Secondi ____ */
.ex-1-square,
.ex-2-square,
.ex-7-img,
.ex-8-img,
.ex-9-img
{
    transition: all 2s;
}

/* ____ 1 Secondo ____ */
.ex-4-square
{
    transition: all 1s;
}

/* ____ 0.7 Secondi ____ */
.ex-5-square
{
    transition: all 700ms;
}

/* ____ 0.4 Secondi ____ */
.ex-3-square,
.ex-5-square
{
    transition: all 400ms;
}



/* ________ Effetti ________________________________________________ */
.ex-1-square:hover
{
    background-color: red;
}

.ex-2-square:active
{
    width: 100%;
}

.ex-3-square:hover
{
    border-radius: 50%;
}

.ex-4-square:hover
{
    opacity: 0;
}

.ex-5-square:hover
{
    transform: scale(1.7);
}

.ex-5-square:active
{
    transform: scale(0.6);
}

.ex-6-img:hover
{
    filter: grayscale(100%);
}

.ex-7-img:hover
{
    filter: sepia(100%) saturate(0.5);
}

.ex-8-img:hover
{
    filter: sepia(50%) saturate(0.5);
    border-radius: 20px;
}

.ex-9-img:hover
{
    filter: sepia(80%) saturate(0.5);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon
{
    animation: rotazione-infinita 1s infinite linear;
}

@keyframes rotazione-infinita
{
    100%{rotate: -360deg}
}

.ex-11-icon:hover
{
    animation: rotazione-ritorno-speed 2s linear;
}

@keyframes rotazione-ritorno-speed
{
    0%{rotate: 0}
    75%{rotate: 270deg}
    100%{rotate: 0}
}

.ex-12-button:hover .ex-12-top-white
{
    animation: effetto-slide 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white
{
    animation: effetto-slide-reverse 2s linear;
}

@keyframes effetto-slide
{
    0%
    {
        left: 10%;
    }

    50%
    {
        left: 70%;
    }

    100%
    {
        left: 10%;
    }
}

@keyframes effetto-slide-reverse
{
    0%
    {
        right: 20%;  
    }

    50%
    {
        right: 70%;
    }

    100%
    {
        right: 20%;  
    }
}




.ex-13-button:hover .ex-13-top-white
{
    animation: effetto-slide-giro 2s linear;
}


@keyframes effetto-slide-giro
{
    0%
    {
        transform: translateY(-50%);
        top: 0;
        left: 10%;
    }

    20%
    {
        transform: translateY(-50%);
        top: 0;
        left: 90%;
    }

    35%
    {
        transform: translateY(-50%);
        top: 100%;
        left: 90%;
    }

    70%
    {
        transform: translate(-50%, -50%);
        top: 100%;
        left: 0;
    }

    85%
    {
        transform: translate(-50%, -50%);
        top: 0;
        left: 0;
    }

    100%
    {
        top: 0;
        left: 10%;
        transform: translateY(-50%);
    }

}




.ex-13-button:hover .ex-13-bottom-white
{
    animation: effetto-slide-giro-reverse 2s linear;
}


@keyframes effetto-slide-giro-reverse
{
    0%
    {
        bottom: 0;
        right: 20%;
        transform: translateY(50%);
    }

    20%
    {
        bottom: 0;
        right: 90%;
        transform: translateY(50%);
    }

    35%
    {
        bottom: 100%;
        right: 90%;
        transform: translateY(50%);
    }

    70%
    {
        bottom: 100%;
        right: 0;
        transform: translate(50%, 50%);
    }

    85%
    {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
    }

    100%
    {
        bottom: 0;
        right: 20%;
        transform: translateY(50%);
    }

    


}






/* ________ Fine ________________________________________________ */